.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/webview-dist
!src/lib
R&D/**
doc/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
